{% extends "__layout.twig" %}

{% block content %}
<h1>Уитли</h1>

<div class="container">
        <ul class="nav nav-pills">
        {% for item in newnav %}
            <li class="nav-item">
                <a class="nav-link {{ temp == item.title ? 'active' }}" href="/wheatley/{{item.url}}">
                    {{item.title}}
                </a>
            </li>
        {% endfor %}
        </ul>
</div>

<div style="margin-top: 15px;">
        <ul class="list-group">
                <li class="list-group-item">
                    {% block dopcontent %}
                        Выберите вверху информацию, которую хотите увидеть<br>
                    {% endblock %}
                </li>
        </ul>
</div>
{% endblock %}